.cart-icon-container {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 28px;
    height: 28px;
    transition: transform 0.6s;
  }
  &:hover{
    .shopping-icon,.item-count{
      transform: scale(1.2);
    }

  }
  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
    transition: transform 0.6s;
  }
}