$sub-color: #343942;
$main-color: black;

@mixin shrinkLabel {
  top: -17px;
  font-size: 15px;
  color: #000;
}

.group {
  position: relative;
  margin-bottom: 40px;
  height: 40px;
  width: 80%;
  .form-input {
    border-radius: 3px;
    height: 100%;
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;

    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 5px 0;
    box-shadow: 0px 2px 5px rgba($color: #bbb, $alpha: .5);
    &:focus {
      outline: none;
    }

    &:focus~.form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 7px;
    top: 20px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}